extend layout 

block content 

    h1=title 

    p=song.title
    a(href=song.link) !{song.link}
    p=song.album
    p By !{song.artist}

    h4 Genres:
    ul
        each genre in song.genre 
            li
                a(href=genre.url) !{genre.name}

    h4 Playlists in:
    ul
        each playlist in song.playlist
            li
                a(href=playlist.url) !{playlist.name}