extend layout 

block content 

    h1=title 

    a(href=song.link) !{song.link}
    p By - !{song.artist}
    p On - !{song.album}

    h4 Genres:
    ul
        each genre in song.genre 
            li
                a(href=genre.url) !{genre.name}

    h4 Playlists in:
    ul
        each playlist in song.playlist
            li
                a(href=playlist.url) !{playlist.name}